 body {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     background-color: #34495e;
     color: #ecf0f1;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}
 #chat-container {
     width: 100%;
     max-width: 800px;
     padding: 20px;
     background-color: #2c3e50;
     border-radius: 8px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
 .message {
     width: 90%;
     margin: 10px auto;
     padding: 10px;
     border-radius: 5px;
     background-color: #465c71;
}
 #input-container {
     margin-left: 25%;
     margin: auto;
     width: 50%;
     display: flex;
     flex-direction: row;
     margin-top: 20px;
}
 #input-message {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     width: 80%;
     height: 40px;
     margin-right: 2%;
    /* Adjusted for better spacing */
     border: none;
     border-radius: 5px;
     resize: none;
     overflow: auto;
     max-height: 150px;
    /* Allowing it to expand up to 5 lines */
}
img {
     width: 100%;
}

/* FontAwesome Icon styling */
 .fa-paper-plane {
     font-size: 1.2em;
}
/* Adjusted FontAwesome Icon size */
 .fa-paper-plane {
     font-size: 1.4em;
}
 #cy {
     width: 100%;
     height: 50vh;
}
 .cy-container {
     width: 90%;
     height: 50vh;
     margin: 10px auto;
     border-radius: 5px;
     background-color: #465c71;
}
 button {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 40px;
    /* Adjust width */
     height: 40px;
    /* Set height to make it circular */
     cursor: pointer;
     background-color: #27ae60;
     color: #fff;
     border: none;
     margin-left: 7px;
     border-radius: 50%;
}
button:hover {
     background-color: #2ecc71;
}
/* Add these lines inside the <style> section */
 .fas {
     font-size: 1.2em;
}

