 
/* Dark Theme Styles */
 body {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     background-color: #1c2025;
     color: #f8f9fa;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}
 #chat-container {
     width: 100%;
     max-width: 800px;
     padding: 20px;
     background-color: #2a2e33;
     border-radius: 8px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
 .message {
     width: 90%;
     margin: 10px auto;
     padding: 10px;
     border-radius: 5px;
     background-color: #3b4045;
}
 #input-container {
     margin: auto;
     width: 90%;
     display: flex;
     flex-direction: row;
     margin-top: 20px;
}
 #input-message {
     font-family: 'Montserrat', sans-serif;
    /* Montserrat font for textarea */
     width: 80%;
     height: 40px;
     margin-right: 2%;
     border: none;
     border-radius: 5px;
     background-color: #4a4f55;
     color: #ecf0f1;
     padding: 8px;
     resize: none;
     overflow: auto;
     max-height: 150px;
}

img {
     width: 100%;
}

/* FontAwesome Icon styling */
 .fa-paper-plane {
     font-size: 1.2em;
}
/* Adjusted FontAwesome Icon size */
 .fa-paper-plane {
     font-size: 1.4em;
}
 #cy {
     width: 100%;
     height: 50vh;
}
 .cy-container {
     width: 90%;
     height: 50vh;
     margin: 10px auto;
     border-radius: 5px;
     background-color: #465c71;
}
 button {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 40px;
    /* Adjust width */
     height: 40px;
    /* Set height to make it circular */
     cursor: pointer;
     background-color: #27ae60;
     color: #fff;
     border: none;
     margin-left: 7px;
     border-radius: 50%;
}
button:hover {
     background-color: #2ecc71;
}
/* Add these lines inside the <style> section */
 .fas {
     font-size: 1.2em;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
