<!DOCTYPE html>
<html lang="en">

<head>
    /*
    STOP PEEKING IN MY COdE
    WE KNOW YOU ARE PEEKING
    JUST STOP IT
    GET SOME HELP
    STOP TRYING TO STEAL OTHER'S CODE
    */
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concept Maps</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="manifest" href="static/manifest.webmanifest" crossorigin="use-credentials" />
    <script src="https://kit.fontawesome.com/5b96244ab9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.2/dist/dagre.js"></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/elkjs@0.7.0/lib/elk.bundled.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-elk/cytoscape-elk.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-dagre/cytoscape-dagre.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-edgehandles/cytoscape-edgehandles.min.js"></script>
    <script src="https://cytoscape.org/cytoscape.js-cxtmenu/cytoscape-cxtmenu.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7159895308035804"
     crossorigin="anonymous"></script>
    
    <link href="static/style.css" rel="stylesheet" crossorigin="use-credentials" />
</head>

<body>
    <div id="chat-container">
        <div id="chat-messages"></div>
        <div id="input-container">
            <textarea id="input-message" placeholder="Type a message..."></textarea>
            <button id="send-button" onclick="sendMessage()"><i class="fa-regular fa-paper-plane"></i></button>
            <button id="regenerate-btn" style="display: none;"><i class="fa-solid fa-arrow-rotate-right"></i></button>
        </div>
    </div>
    <div id="overlay" onclick="off()">
      <div id="text">If you see this message, adBlock has been detected. Please turn it off to access this site, as our site runs on ad revenue (AI is not cheap!). Thanks</div>
    </div>
    <script src="ad-provider.js"></script>
    <script src="static/script.js" crossorigin="use-credentials"></script>
</body>

</html>
