<!DOCTYPE html>
<html>
<head>
    <title>Register - CE Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="/static/style2.css" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <form action="/register" method="post">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <span>Have an account already? </span> <a href="/login">Log in</a>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
